@font-face {
  font-family: 'manaspace';
  src: url('./fonts/manaspace.woff2') format('woff2'),
    url('./fonts/manaspace.woff') format('woff'),
    url('./fonts/manaspace.ttf') format('truetype');
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@keyframes appears {
  from {
    transform: translate3d(0, 15%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-family: 'manaspace', monospace;
  background-color: #160644;
  text-shadow: 2px 2px #fe3396, 0px 0px 40px #ffe60b;
  color: #f0e375;
}

img {
  width: 100%;
  height: auto;
}

.page {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #160644;
  transition: opacity 300ms steps(3);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hidden {
  opacity: 0;
}

.gui__header,
.gui__footer {
  position: fixed;
  display: flex;
  z-index: 1;
  left: 8px;
  right: 8px;
}

.gui__header {
  top: 8px;
}

.gui__footer {
  bottom: 8px;
}

@media (min-width: 768px) {
  .gui__header,
  .gui__footer {
    left: 32px;
    right: 32px;
  }

  .gui__header {
    top: 32px;
  }

  .gui__footer {
    bottom: 32px;
  }
}

.logo {
  width: 50%;
  max-width: 1000px;
  animation: appears 500ms ease-in forwards;
}

.button {
  width: 64px;
  height: 64px;
  opacity: 0.4;
}

.button--active {
  transform: scale(0.9);
  transform-origin: 50% 50%;
  opacity: 0.6;
}

.button-ArrowLeft {
  background-image: url('./assets/arrow-left.png');
}

.button-ArrowRight {
  background-image: url('./assets/arrow-right.png');
}

.button-Space {
  background-image: url('./assets/arrow-up.png');
  margin-left: auto;
}

.text {
  text-transform: uppercase;
  user-select: none;
}

.text--link {
  cursor: pointer;
}

.text--link:hover {
  text-decoration: underline;
}

.text-score {
  margin-left: auto;
}
