@font-face {
  font-family: 'manaspace';
  src: url('./fonts/manaspace.woff2') format('woff2'),
    url('./fonts/manaspace.woff') format('woff'),
    url('./fonts/manaspace.ttf') format('truetype');
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'manaspace', monospace;
  font-size: 24px;
  line-height: 24px;
  background-color: #03065c;
  text-shadow: 2px 2px #cf339f;
  color: #faf085;

  @include breakpoint('medium') {
    font-size: 32px;
    line-height: 32px;
  }
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

img {
  width: 100%;
  height: auto;
}

.hidden {
  display: none !important;
}

.fade-in {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  animation: fade-in 400ms steps(3) forwards;
}

.fade-out {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  animation: fade-out 400ms steps(3) forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.dead-mode {
  filter: saturate(0) contrast(1.2);
}

.logo {
  width: auto;
  max-width: 100%;
  margin-bottom: 16px;

  @include breakpoint('medium') {
    max-width: 85%;
    margin-bottom: 32px;
  }
}

.text {
  text-transform: uppercase;
  user-select: none;
}

.text--link {
  cursor: pointer;
}

.text--link:hover {
  text-decoration: underline;
}

.text-score {
  margin-left: auto;
}
